.backdrop {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50%;
  width: 100vw;
  height: 100vh;
}

.my-box {
  background-color: #fff;
  position: fixed;
  top: 20vh;
  left: 30vw;
  z-index: 70%;
  width: 40vw;
  height: 20vh;
  padding: 24px 12px;
  box-shadow: 0 0 1px 2px;
}

.btn-class {
  background-color: gold;
  padding: 12px 6px;
  border: none;
}
