<div class="backdrop">
  <div class="my-box">
    <ng-content></ng-content>

    <div class="row mt-4">
      <div class="col-4 offset-8">
        <div class="d-grid">
          <button class="btn-class" (click)="onOK()">{{ btnTitle }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
