<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="row mb-4">
        <div class="col-10">
          <input type="text" class="form-control" [(ngModel)]="enteredLabel" />
        </div>
        <div class="col-2">
          <div class="d-grid">
            <button class="btn btn-primary" (click)="onAddTodo()">Add</button>
          </div>
        </div>
      </div>

      <div *ngIf="errMessage">
        {{ errMessage }}
      </div>

      <ul class="list-group">
        <li
          (click)="onDeleteTodo(todo.id)"
          *ngFor="let todo of todoCollection"
          class="list-group-item mb-2"
          [ngStyle]="pointerStyle"
        >
          {{ todo.label | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
