<!-- <ng-content select="header"></ng-content> -->

<h1 appHighlight favColor="lightgreen">
  {{ user.firstName }} {{ user.lastName }}
</h1>

<!-- <ng-content select="#content"></ng-content> -->

<p>Date of Birth : <span [innerText]="user.dob"></span></p>
<p *ngIf="user.isWorking; else notWorking">
  Income : <span [innerText]="user.income"></span>
</p>
<p>
  Total Votes : {{ user.votes }}

  <!-- <input type="number" [value]="user.votes" (input)="user.votes = event.target.value") /> -->
  <input type="number" [(ngModel)]="user.votes" />
</p>

<!-- <ng-content select="footer"></ng-content> -->

<ng-template #notWorking>
  <p>Mr. {{ user.firstName }} {{ user.lastName }} is NOT working now!</p>
</ng-template>
