<div class="container">
  <div class="mb-4">
    <app-navigation></app-navigation>
  </div>

  <app-i-am-eager></app-i-am-eager>

  <router-outlet></router-outlet>

  <!-- <input type="text" [(ngModel)]="title" />
  <br />

  <button class="btn btn-primary" (click)="show = !show">Show Dialog</button>

  <app-life-cycle [title]="title" *ngIf="show">
    <h2 #heading>Some cool heading</h2>
  </app-life-cycle> -->

  <!-- <app-view-encapsulation></app-view-encapsulation> -->

  <!-- <app-directive-demo></app-directive-demo> -->

  <!-- <app-pipe-demo></app-pipe-demo> -->

  <!-- <app-auth></app-auth> -->

  <!-- <app-observable-demo></app-observable-demo> -->

  <!-- <app-todos></app-todos> -->

  <!-- <app-users></app-users> -->

  <!-- 
  <app-button (myEvent)="show = true"> Show Dialog </app-button>

  <app-dialog *ngIf="show" [btnTitle]="'OK'" (onOkEvent)="show = false">
    <h6>The Message of the Dialog Box</h6>
  </app-dialog> -->
</div>
