<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item" (click)="tab = 1">
      <a
        class="nav-link"
        [ngClass]="{ active: tab === 1 }"
        [routerLink]="['auth']"
        *ngIf="!authService.isAuthenticated()"
        >Login/SignUp</a
      >
    </li>
    <li class="nav-item" (click)="tab = 2">
      <a
        class="nav-link"
        [ngClass]="{ active: tab === 2 }"
        [routerLink]="['users']"
        >Users</a
      >
    </li>
    <li class="nav-item" (click)="tab = 3">
      <a
        class="nav-link"
        [ngClass]="{ active: tab === 3 }"
        [routerLink]="['todos']"
        >Todos</a
      >
    </li>
    <li class="nav-item" (click)="tab = 4">
      <a
        class="nav-link"
        [ngClass]="{ active: tab === 4 }"
        [routerLink]="['expenses']"
        *ngIf="authService.isAuthenticated()"
        >Expenses</a
      >
    </li>

    <li class="nav-item" (click)="tab = 5">
      <a
        class="nav-link"
        [ngClass]="{ active: tab === 5 }"
        [routerLink]="['lazy']"
        >Lazy</a
      >
    </li>
  </ul>
</nav>
