<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Auth Form</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="authForm">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder=""
              formControlName="username"
            />
            <label for="username">Username</label>
            <br />
            <div *ngIf="username.touched && username.invalid">
              <div
                *ngIf="username.hasError('required')"
                class="alert alert-danger"
              >
                <p>Username is mandatory field</p>
              </div>

              <div
                *ngIf="username.hasError('email')"
                class="alert alert-danger"
              >
                <p>Username should be in email format</p>
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder=""
              formControlName="password"
            />
            <label for="password">Password</label>
            <br />
            <div *ngIf="password.touched && password.invalid">
              <div
                *ngIf="password.hasError('required')"
                class="alert alert-danger"
              >
                <p>Password is mandatory field</p>
              </div>
              <div
                *ngIf="password.hasError('minlength')"
                class="alert alert-danger"
              >
                <p>Password should have at least 6 characters</p>
              </div>
              <!-- Custom Validator -->
              <div
                *ngIf="password.hasError('exclamationMark')"
                class="alert alert-danger"
              >
                <p>Password must have exclamation Mark (!).</p>
              </div>
            </div>
          </div>

          <!-- cnfPassword -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="cnfPassword"
              placeholder=""
              formControlName="cnfPassword"
            />
            <label for="cnfPassword">Confirm Password</label>
            <br />
            <div *ngIf="cnfPassword.touched && cnfPassword.invalid">
              <p>Confirm Password Error</p>
              <div
                *ngIf="cnfPassword.hasError('confirmPassword')"
                class="alert alert-danger"
              >
                <p>Confirm password does not match with password</p>
              </div>
            </div>
          </div>

          <!-- Languages : FormArray -->

          <div class="form-group mb-3">
            <button class="btn btn-secondary" (click)="addLanguage()">
              Add Language
            </button>

            <!-- Languages : {{ languages.controls | json }} -->

            <div formArrayName="languages">
              <div
                *ngFor="let lang of languages.controls; index as i"
                class="mb-2"
              >
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-5">
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        formControlName="name"
                      />
                    </div>
                    <div class="col-5">
                      <input
                        type="text"
                        class="form-control"
                        name="experience"
                        formControlName="experience"
                      />
                    </div>
                    <div class="col-2">
                      <div class="d-grid">
                        <button class="btn btn-danger" (click)="removeItem(i)">
                          🗑️
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- buttons -->
          <div class="row">
            <div class="col-6">
              <div class="d-grid">
                <button
                  [disabled]="!authForm.valid"
                  class="btn btn-primary"
                  (click)="onLogin()"
                >
                  Login
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
