.ng-touched.ng-invalid[name="username"] {
  background-color: rgb(241, 170, 170);
}
.ng-touched.ng-valid[name="username"] {
  background-color: rgb(187, 239, 161);
}

.ng-touched.ng-invalid[name="password"] {
  background-color: rgb(241, 170, 170);
}
.ng-touched.ng-valid[name="password"] {
  background-color: rgb(187, 239, 161);
}
.ng-touched.ng-invalid[name="cnfPassword"] {
  background-color: rgb(241, 170, 170);
}
.ng-touched.ng-valid[name="cnfPassword"] {
  background-color: rgb(187, 239, 161);
}
