<div class="backdrop">
  <div class="my-form">
    <div class="m-3">
      <h3 class="text-center">Edit Expense</h3>
      <form>
        <!-- title -->
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder=""
            [(ngModel)]="expense.title"
          />
          <label for="title">Title</label>
        </div>

        <!-- amount -->
        <div class="form-floating mb-3">
          <input
            type="number"
            class="form-control"
            name="amount"
            id="amount"
            placeholder=""
            [(ngModel)]="expense.amount"
          />
          <label for="amount">Amount</label>
        </div>

        <!-- date -->
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            name="date"
            id="date"
            placeholder=""
            [(ngModel)]="expense.date"
          />
          <label for="date">Date</label>
        </div>

        <!-- button -->
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-secondary" (click)="onUpdate()">
                Update
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-outline-warning" (click)="onCancel()">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
