.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-form {
  position: fixed;
  left: 30vw;
  top: 20vh;
  width: 40vw;
  height: 60vh;
  z-index: 75%;
  background-color: #fff;
}
