<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" (click)="tab = 1">All Comments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="tab = 2">Add New</a>
  </li>
</ul>

<section>
  <div [ngSwitch]="tab">
    <div *ngSwitchCase="1">
      <ng-container *ngIf="comments.length !== 0; else firstComment">
        <article *ngFor="let comment of comments">
          <h5>Stars : {{ comment.stars }}</h5>
          <blockquote>
            {{ comment.body }}
            <cite class="float-end">{{ comment.author }}</cite>
          </blockquote>
        </article>
      </ng-container>
    </div>
    <div *ngSwitchCase="2">
      <app-add-comment-form
        (newCommentEvent)="addComment($event)"
      ></app-add-comment-form>
    </div>
  </div>
</section>

<ng-template #firstComment>
  <h4>Be the first to comment here...</h4>
</ng-template>
