<div class="container">
  <h1>Pipe Demo Component</h1>

  <div class="row mb-4">
    <div class="col-4">
      <select class="form-control" [(ngModel)]="filteredStatus">
        <option value="">Select One</option>
        <option value="pending">Pending</option>
        <option value="completed">Completed</option>
      </select>
    </div>
    <div class="col-4">
      <select class="form-control" [(ngModel)]="sortOrder">
        <option value="">Select Sorting Order</option>
        <option value="ascending">Ascending</option>
        <option value="decending">Decending</option>
      </select>
    </div>
    <div class="col-4">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="onAddNew()">Add New</button>
      </div>
    </div>
  </div>

  <ul class="list-group mb-4">
    <li
      class="list-group-item mb-2"
      *ngFor="
        let todo of todoCollection | filter : filteredStatus | sort : sortOrder
      "
    >
      {{ todo.label | uppercase }}
      <span class="float-end badge bg-primary">
        {{ todo.status }}
      </span>
    </li>
  </ul>

  <h3>Contact Number :{{ contactNumber | countryCode }}</h3>

  <h3>Grretings : {{ greeting | uppercase | reverse }}</h3>

  <h3>Amount : {{ amount | currency : "INR" }}</h3>

  <h3>DOB : {{ dob | date : "dd-MM-yyyy" }}</h3>

  <h3>Fraction : {{ fraction | number : "5.1-2" }}</h3>

  <h3>Percent : {{ marks | percent }}</h3>

  <h3>JSON : {{ user | json }}</h3>

  <h3>Async : {{ promiseObj | async }}</h3>
</div>
