<div class="container">
  <h1>Directive Demo Component</h1>

  <!-- Structural Directives -->

  <!-- ngIf -->
  <button class="btn btn-primary" (click)="isAdmin = false">Change Role</button>

  <p>
    Mr. {{ username }} is
    <span *ngIf="!isAdmin; else elseTemplate">NOT</span> ADMIN
  </p>

  <ng-template #elseTemplate>
    <span>Manager and </span>
  </ng-template>

  <!-- ngFor -->
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>#</th>
        <th>Label</th>
        <th>Status</th>
        <th>Is First</th>
        <th>Is Last</th>
        <th>Is Even</th>
        <th>Is Odd</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let todo of todoCollection;
          index as i;
          first as isFirst;
          last as isLast;
          even as isEven;
          odd as isOdd
        "
      >
        <td>{{ i + 1 }}</td>
        <td [ngClass]="{ 'my-border': isFirst }">{{ todo.label }}</td>
        <td>{{ todo.status ? "Completed" : "Pending" }}</td>
        <td>{{ isFirst }}</td>
        <td>{{ isLast }}</td>
        <td>{{ isEven }}</td>
        <td>{{ isOdd }}</td>
      </tr>
    </tbody>
  </table>

  <!-- ngSwitch -->

  <div [ngSwitch]="tab">
    <div *ngSwitchCase="1">Output 1</div>
    <div *ngSwitchCase="2">Output 2</div>
    <div *ngSwitchCase="3">Output 3</div>
    <div *ngSwitchDefault>Default Output</div>
  </div>

  <hr />

  <!-- ngClass -->
  <button class="btn btn-secondary" (click)="onClassRemove()">
    Remove Class
  </button>

  <button class="btn btn-dark" (click)="onToggleClasses()">Toggle</button>
  <p [ngClass]="dynamicObjectClasses">This paragraph will demostrate ngClass</p>

  <!-- ngStyle -->
  <button class="btn btn-warning" (click)="onChangStyle()">Change Case</button>
  <p [ngStyle]="dynamicStyle" (mouseenter)="onChangStyle()">
    This paragraph will demostrate ngStyle
  </p>

  <!--  -->
</div>
