<div class="container">
  <h1>Observable Demo Component</h1>

  <button class="btn btn-primary" (click)="onSubscribe()">Subscribe</button>
  <button class="btn btn-secondary" (click)="onUnsubscribe()">
    Unsubscribe
  </button>

  <hr />
  <input type="text" #term />

  <br />
  <ul>
    <li *ngFor="let repo of repos">
      {{ repo.name | uppercase }}
    </li>
  </ul>
</div>
