<div class="container">
  <ul class="list-group">
    <ng-container *ngFor="let user of users; first as isFirst; even as isEven">
      <li
        class="list-group-item mb-5"
        [ngClass]="{ highlight: isFirst }"
        *ngIf="isEven"
      >
        <div class="row mb-4">
          <div class="col-4 text-center">
            <app-user-img
              [user]="user"
              (childEvent)="onMoreInfo($event)"
            ></app-user-img>
          </div>
          <div class="col-8">
            <app-user-info [user]="user">
              <header>Some header information</header>
              <main class="main-content" id="content">Main Content</main>
              <footer><p>The Users Company</p></footer>
            </app-user-info>
          </div>
        </div>
        <app-comments [comments]="user.comments"></app-comments>
      </li>
    </ng-container>
  </ul>
</div>
