<h1>My Expenses</h1>

<div class="row mb-4">
  <div class="col-6" *ngFor="let expense of expenses">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">{{ expense.title | uppercase }}</h5>
      </div>
      <div class="card-body">
        <p>Amount : {{ expense.amount | currency : "INR" }}</p>
        <p>Created At : {{ expense.date | date }}</p>
        <div class="row">
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-secondary" (click)="onEdit(expense.id)">
                Edit
              </button>
            </div>
          </div>
          <div class="col-6">
            <div class="d-grid">
              <button class="btn btn-outline-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
