.ng-touched.ng-invalid[name="body"] {
  border-bottom: 3px red solid;
}
.ng-touched.ng-valid[name="body"] {
  border-bottom: 3px green solid;
}
.ng-touched.ng-invalid[name="author"] {
  border-bottom: 3px red solid;
}
.ng-touched.ng-valid[name="author"] {
  border-bottom: 3px green solid;
}
