<div class="card">
  <div class="card-body">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <!-- stars -->
      <div class="mb-3">
        <label for="" class="form-label">Stars</label>
        <select class="form-select form-select-lg" name="stars" ngModel>
          <option selected>Select one</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <!-- body -->
      <div class="mb-3">
        <textarea
          class="form-control"
          name="body"
          placeholder="Enter text here"
          rows="3"
          ngModel
          required
          minlength="6"
          #body="ngModel"
        ></textarea>
        <br />
        <div *ngIf="body.touched && body.errors">
          <div *ngIf="body.errors['required']" class="alert alert-danger">
            <p>Body is mandatory field</p>
          </div>
          <div *ngIf="body.errors['minlength']" class="alert alert-danger">
            <p>Body should have at least 6 characters</p>
          </div>
        </div>
      </div>

      <!-- author -->
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          name="author"
          placeholder=""
          ngModel
          required
          email
          #author="ngModel"
        />
        <label for="author">Author</label>
        <br />
        <div *ngIf="author.touched && author.errors">
          <div *ngIf="author.errors['required']" class="alert alert-danger">
            <p>Author is madatory field</p>
          </div>
          <div *ngIf="author.errors['email']" class="alert alert-danger">
            <p>Author should be in proper email format</p>
          </div>
        </div>
      </div>

      <!-- buttons -->
      <div class="row">
        <div class="col-6">
          <div class="d-grid">
            <button
              [disabled]="!myForm.valid"
              type="submit"
              class="btn btn-primary"
            >
              Add
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="d-grid">
            <button
              class="btn btn-light"
              type="button"
              (click)="onReset(myForm)"
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
